*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --custom-button-color: #4d0294;
  --custom-button-padding: 6px 16px;
  --custom-rounded-borders: 12px;
  --custom-input-padding: 14px 12px;
  --dashboard-border-color: #4b484da4;
  --default-button-borders: 1px solid #a956f7;
  --default-button-transition: ease-in-out 75ms;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.home {
  background: #0c0a09;
  padding: 12px 100px;
  color: white;
  display: grid;
  grid-template-rows: 1fr 10fr;
  min-height: 100vh;
}

.home nav {
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(10px);
}

.home nav ul {
  display: flex;
  gap: 24px;
  align-items: center;
  list-style: none;
}

.home li:hover {
  cursor: pointer;
}

.home nav h1 {
  display: flex;
  gap: 12px;
  align-items: center;
}

.home main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  height: 100%;
  align-self: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  text-align: center;
}

.home main button,
.authenticate button {
  background: var(--custom-button-color);
  padding: var(--custom-button-padding);
  color: white;
  border: 1px solid #890dfeb8;
  border-radius: var(--custom-rounded-borders);
}

.home main button:hover,
.authenticate button:hover {
  cursor: pointer;
  border: var(--default-button-borders);
  transition: var(--default-button-transition);
}

.buttons {
  display: flex;
  gap: 12px;
}

button a {
  text-decoration: none;
  color: inherit;
}

.authenticate {
  background: #0c0a09;
  padding: 12px 50px;
  color: white;
  display: grid;
  grid-template-rows: 1fr 4fr;
  min-height: 100vh;
}

input {
  padding: var(--custom-input-padding);
  border-radius: var(--custom-rounded-borders);
}

input:focus {
  transition: ease-in 75ms;
  outline: solid 4px #a749ffcd;
}

.authenticate div form {
  box-shadow: 5px 5px 80px 7px rgba(87, 87, 87, 0.207);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 32px;
  border-radius: var(--custom-rounded-borders);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.dashboard main nav .sidebar {
  display: none;
}

.errors {
  align-self: start;
}

.errors li {
  color: #fa2222;
  font-size: 0.8rem;
}

.authenticate ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.authenticate form input {
  width: 100%;
  max-width: 350px;
  background: #ffffffda;
  margin-bottom: 12px;
}

.authenticate div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  height: 100%;
}

.authenticate h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

main img {
  border-radius: var(--custom-rounded-borders);
  width: 15%;
}

.dashboard {
  min-height: 100vh;
  background: #000;
  color: white;
}

.dashboard {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dashboard aside div {
  padding: 14px;
  border-bottom: 1px solid var(--dashboard-border-color);
}

.dashboard aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--dashboard-border-color);
}

.dashboard main {
  height: 100%;
}

.dashboard ul {
  list-style: none;
}

.dashboard section {
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dashboard ul li:hover {
  cursor: pointer;
  transition: ease-in-out 75ms;
}

.dashboard main nav {
  border-bottom: 1px solid var(--dashboard-border-color);
  padding: 6px 25px;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
}

.dashboard main nav input {
  width: 60%;
  height: 10px;
  border-radius: 6px;
  padding: 18px;
}

.dashboard main nav input:focus {
  outline: none;
  border: solid 3px rgba(158, 157, 157, 0.67);
}

.dashboard main nav button {
  padding: 8px;
}

.dashboard main nav div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.dashboard main nav div h1 {
  display: flex;
  align-items: center;
  gap: 6px;
}

.dashboard main nav div button:hover {
  background: #38363660;
  cursor: pointer;
  transition: ease-in-out 150ms;
}

.dashboard main nav button {
  background-color: #1b1a1ac5;
  color: white;
  border-radius: 12px;
}

.dashboard main nav button:hover {
  cursor: pointer;
  background-color: #1b1a1af7;
}

.dashboard main section ul {
  display: flex;
  gap: 12px;
  width: 100%;
}

#folder-data {
  padding: 25px;
}

#folder-data li {
  padding: 12px;
}
.dashboard main section ul li button {
  padding: var(--custom-button-padding);
  background: var(--custom-button-color);
  color: white;
  font-size: 0.8rem;
  border: 1px solid #935cc7b8;
  border-radius: var(--custom-rounded-borders);
}

.dashboard main section ul li button:hover {
  cursor: pointer;
  transition: var(--default-button-transition);
  border: var(--default-button-borders);
}

.dashboard table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard table thead {
  font-weight: 600;
  background-color: var(--dashboard-header-bg-color, black);
  width: 100%;
}

#sidebarClose {
  display: none;
}

.dashboard table th,
.dashboard table td {
  padding: 12px;
}

.dashboard table tr {
  border-bottom: 1px solid var(--dashboard-border-color);
}

.dashboard table th {
  text-align: left;
}

.dashboard table td {
  text-align: left;
}

.dashboard table tbody td {
  font-size: 0.9rem;
  color: rgb(236, 233, 233);
}

#optionContainer button {
  display: flex;
  padding: 5px;
  background: none;
  border: none;
}

dialog.folderNameDialog {
  position: absolute;
  top: 40%;
  left: 50%;
  border-radius: 25px;
}

form.newFolderForm {
  padding: 25px;
  display: grid;
  grid-template-rows: 1fr 2fr 1.3fr;
  row-gap: 24px;
}

form.newFolderForm #closeButton {
  justify-self: end;
  background: #dc2626;
  border-radius: 12px;
  padding: 4px;
}

input#folderName {
  background-color: #cac4c469;
}

#folderNameSubmitButton {
  background: var(--custom-button-color);
  color: white;
  border-radius: var(--custom-rounded-borders);
}

#folder-data li {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  column-gap: 4px;
  justify-items: start;
  align-items: center;
}

#folder-data li a {
  justify-self: center;
  background: #000;
}

@media (max-width: 768px) {
  .home {
    padding: 12px 25px;
    text-align: center;
  }

  #sidebarClose {
    display: block;
  }

  .dashboard main nav .sidebar {
    display: block;
  }

  .dashboard main nav div {
    align-items: start;
  }

  .dashboard main {
    width: 100%;
  }

  .buttons {
    flex-direction: column;
  }

  #folder-data {
    display: flex;
    justify-content: space-around;
  }

  #folder-data li {
    display: flex;
    justify-content: start;
  }

  .dashboard {
    display: flex;
  }

  .dashboard aside {
    display: none;
  }

  #folder-data {
    display: flex;
    gap: 12px;
    padding: 4px;
    flex-direction: column;
  }

  #folder-data a {
    padding: 2px;
  }

  .dashboard main nav {
    padding: 4px;
  }

  #sidebarClose {
    background: #000;
  }

  #sidebarClose:hover {
    cursor: pointer;
  }

  #folderContainer div span {
    display: flex;
    justify-content: space-between;
  }

  .dashboard table button {
    padding: 2px;
  }

  dialog.folderNameDialog {
    position: absolute;
    top: 30%;
    left: 23%;
    border-radius: 25px;
  }
}
